   /* Hamburger menu styles */
   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 10px 10px;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 0 0 0 20px;
}

.bar {
    height: 3px;
    width: 35px;
    background-color: black;
    margin: 4px 0;
}

@media (max-width: 500px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 430px;
        position: absolute;
        top: 120px;
        left: 0;
        height: 230px;
        gap: 20px;  /* Updated to 30px gap between items */
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .nav-links li a {
        color: white;
        font-size: 1.5em;
      
        
        text-align: center;  /* Center text inside the items */
    }
}