
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: rgba(241, 241, 241, 0.603);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0); /* Opaque background for the navbar */
    width: 100%;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 75px;
    font-family: Monospace;
    font-size: 1vw;
    margin-left: auto;
    text-align: right;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 20px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: rgba(131, 131, 131, 0.158);
    border-radius: 50px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 10vw;
}

.hamburger {
    cursor: pointer;
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s;
}

.content {
    margin-top: 120px; /* To account for the fixed navbar */
}